*{
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

html{
    background-color: #212529; 
}

main{
    margin: 2vh 5vw;
    
}

header{
    display: flex;
    justify-content: space-between;
    
    
}

#cart-button i{
    max-width: 42px;
    max-height: 42px;
}


#cart-button {
   
   background-color: rgb(49, 49, 49);
    color: whitesmoke;
    border: none;
    padding: 10px;
    border: 1px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.5px;
}

#cart-button:hover{
    color: rgb(29, 29, 29);  
    background-color: #F5CB5C ; 
    border: rgb(49, 49, 49);
    
}

header{
    margin: 5vh 10vw;
    background-color: rgb(49, 49, 49);
    padding: 10px 10px;
    color: white;
    border-radius: 3px;
    
}

.products-img{
    max-width: 100px;
}

.product{
    padding: 1rem;
    background-color:  #242423;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.add_to_cart{
    padding: 3px 0;
    background-color: #F5CB5C;
    border: 1px;
    border-radius: 4px;
    
}

.add_to_cart:hover{
    background-color:  #595959;
    color: white;
    cursor: pointer;
}


#cart-products{
    border: 1px solid whitesmoke ;
    top: 70px;
    right: 0rem;
    left: auto;
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 0.5rem;
    width: 300px;
    color: whitesmoke;
    background-color:rgb(49, 49, 49);
}
#cart-products::before{
    content: "";
    border: transparent solid 16px;
    border-bottom: solid black 16px;
    position: relative;
    top: -2.7rem;
    left:15.8rem;
    z-index: -1;
}

.hide{
    display: none;
}


#cart-products img{
    max-width: 60px;
    max-height: 60px;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0 0 5px black;

}


.ProductCart{
    display: flex;
    align-items: center;
    gap: 8px;
}

.ProductCart p{
    color: black;
    font-weight: bold;
}
